:root {
    --cor-texto: #ffffff;
    --cor-secao: #f1c13c;
    --cor-hovers-head: #4f372e;
    --cor-aside: #f1c13c;
    --cor-barradepesquisa: #c17f01;
    --cor-dialog: #4f372e;
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.logo{
    display: flex;
    width: 700px;
    height: 500px;
    margin-left: 40px;
    margin: 40px;
    justify-content: center;
}

body{
    background-color: var(--cor-dialog);
}

main{
    display: flex;
    flex-wrap: nowrap;
}

header {
    background-color: var(--cor-secao);
    height: 1.75rem;
}

main button {
    background-color: transparent;
    color: var(--cor-texto);
   
    margin: 0;          
    position: relative;
    overflow: hidden;
    z-index: 1;
}   

main button::before{    
    content: "";
    position: absolute;
    top:  0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #3e2201a8;
    transition: all 1s ease;

    z-index: -1;
}

main button:hover::before{
    left: 0;    
    opacity: 90;
    
}

main button:active::before {
    background-color: var(--cor-hovers-head);
    color: var(--cor-texto);
    background-color: var(--cor-barradepesquisa);
    overflow: hidden;
}

header img {
    margin: 3px 10px 3px 12px;
    height: 80%;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    min-height: 100vh;
    width: 1.8rem;
    background-color: var(--cor-secao);
    background-color: var(--cor-aside)
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.Vlower:active{
    transform: rotate(360deg);
    transition: 1s;
}

#botoes button{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
    padding-left: 4px;
    cursor: pointer;
    height: 50px;
    width: 90%;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    padding-left: 14px;
    border-radius: 9px;
    background-color: var(--cor-secao);
}

#botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 300px;
    padding-right: 10px;
}

svg{
    padding-left: 6px;
}

a {
    color: var(--cor-texto);
    text-decoration: none;
    cursor: pointer;
}

#botoes button {
    cursor:default;
}

input[type="file"]::file-selector-button {
    display: none;
    opacity: 0;
}

#input-arquivo {
    opacity: 0;
    pointer-events: auto;
}

.botao-selecionar-arquivo {
    position: relative;
}

.botao-selecionar-arquivo button {
    position: absolute;
}

#abrir-arquivo label {
    cursor: pointer;
}