:root {
    --cor-fundo: #3f3c11;
    --cor-texto: #f5f5dc;
    --cor-secao: #383211;
}

* { 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    background-color: #3f3c11;
    color: var(--cor-texto);
    overflow: hidden;  /* Bloqueia rolagem da página */
}

header {
    display: flex;
    gap: 15px;
    background-color: var(--cor-secao);
    height: 1.75rem;
}

header button {
    background-color: transparent;
    color: var(--cor-texto);
    width: 5%;
    height: 75%;
    margin: auto 0;
}

header button:hover {
    background-color: #777749b0;
    color: var(--cor-texto);
    border-radius: 7px;
}

header input {
    background-color: #6e6e3e;
    color: var(--cor-texto);
    height: 75%;
    margin: auto 0;
    border-radius: 5px;
    padding: 8px;
}

header input:focus {
    outline: none;
}

header img {
    margin: 3px 10px 3px 12px;
    height: 80%;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    height: 100vh;
    width: 4vw;
    background-color: var(--cor-secao);
    padding: 12px 8px;
    background-color: #5a522a;
}

aside svg {
    font-size: 1.5rem;
    opacity: 0.5;
    margin: 0 auto;
}

aside svg:hover {
    opacity: 1;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.abas-arquivos {
    display: flex;
    gap: 5px;
    background-color: #221e0a;
    height: 2rem;
    width: 100vw;
}

.area-codigo textarea {
    width: 97vw;
    height: 100vh;
    background-color: #3f3f1b;
    color: white;
}

.area-codigo textarea:focus {
    outline: none;
}

#opcoes-aba-arquivo {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secao);
    border-radius: 10px;
    width: 200px;
}


#opcoes-aba-arquivo button {
    background-color: transparent;
    color: var(--cor-texto);
    width: 100%;
    height: 2rem;
    margin: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

#opcoes-aba-arquivo button:hover {
    background-color: #ffffff1a;
}

.arquivo {
    background-color: #5a522a;
    padding: 5px 10px;
    margin: auto 0;
}

.arquivo:hover {
    cursor: pointer;
}

.botao-fechar-arquivo {
    background-color: transparent;
    color: var(--cor-texto);
    border-radius: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
    padding: 3px;
}

.botao-fechar-arquivo:hover {
    background-color: #ffffff1a;
    color: var(--cor-texto);
    border-radius: 5px;
    margin-left: 5px;
}