:root {
    --cor-fundo: #b9af1d;
    --cor-texto: #ffffff;
    --cor-secao: #f1c13c;
    --cor-botoes: #7e5200;
    --cor-secao-de-abas:#3e2201;
    --cor-areacode: #101010;
    --cor-hovers-buttons: #99450044;
    --cor-hovers-head: #4f372e;
    --cor-aside: #f1c13c;
    --cor-barradepesquisa: #c17f01;
    --cor-homestruck: #aa5d1d;
    --cor-homestruck1: #3e2201;
    --cor-dialog: #4f372e;
}

* {     
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    background-color: #3f3c11;
    color: var(--cor-texto);

    /* overflow: hidden;  Bloqueia rolagem da página */
}

header {
    display: flex;
    gap: 15px;
    background-color: var(--cor-secao);
    height: 1.75rem;
    caret-color: transparent;
}

input{
    caret-color: white;
}

header button {
    background-color: transparent;
    color: var(--cor-texto);
    width: 50px;
    height: 100%;    
    margin: 0;          
    position: relative;
    overflow: hidden;
    z-index: 1;
}   

header button::before{    
    content: "";
    position: absolute;
    top:  -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-hovers-buttons);
    transition: all 0.09s ease;

    z-index: -1;
}

header button:hover::before{
    top: 0;    
    opacity: 90;
}

header button:active::before {
    background-color: var(--cor-hovers-head);
    color: var(--cor-texto);
    background-color: var(--cor-barradepesquisa);
    height: 28px;
    position: relative;
    overflow: hidden;
}

#arquivo{
    z-index: 2;
}

header input {
    background-color: var(--cor-barradepesquisa);
    color: var(--cor-texto);
    height: 75%;
    width: 60%;
    max-width: 300px;
    margin: auto 0;
    border-radius: 5px;
    padding: 8px;
}

header input:focus {
    outline: none;
}

header img {
    margin: 3px 10px 3px 12px;
    height: 80%;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    min-height: 100vh;
    width: 50px;
    background-color: var(--cor-secao);
    padding: 12px 8px;
    background-color: var(--cor-aside)
}

aside svg {
    font-size: 1.5rem;
    opacity: 0.5;
    margin: 0 auto;
    background-color: var(--cor-icons);
    cursor: pointer;
}

aside svg:hover {
    opacity: 1;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

dialog::backdrop {
    display: none;  
}

.abas-arquivos {
    display: flex;
    gap: 5px;
    background-color: var(--cor-secao-de-abas);
    height: 2rem;
    width: 100vw;
    caret-color: transparent;
}

.editor {
    position: relative;
    width: 97vw;
    height: 100vh;
}


.arquivo {
    background-color: var(--cor-botoes);;
    padding: 5px 10px;
    margin: auto 0;
    border-radius: 5px;
}

.editar{
    Background-color: var(--cor-botoes);;
    padding: 5px 10px;
    margin: auto 0;    
}

.nome-pasta{
Background-color: var(--cor-botoes);;
    padding: 5px 10px;
    margin: auto 0;  
}

.arquivo:hover {
    cursor: pointer;
}

.botao-fechar-arquivo {
    background-color: transparent;
    color: var(--cor-texto);
    border-radius: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
    padding: 3px;
}

.botao-fechar-arquivo:hover {
    background-color: var(--cor-hovers-buttons);
    color: var(--cor-texto);
    border-radius: 5px;
    margin-left: 5px;
}

.atalho-abas-superiores-novo-arquivo{
    display: flex;
    margin-left: 30px;
}

.atalho-abas-superiores-salvar{
    display: flex;
    margin-left: 67px;
}
.Vlower:active{
    transform: rotate(360deg);
    transition: 1s;
}

::-webkit-scrollbar {
  display: none;
}

#codigo, #codigo-render {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Consolas, monospace;
    font-size: 16px;
    overflow: auto;
    inset: 0; 
}

#codigo {
    color: transparent;
    background-color: transparent;
    caret-color: white; 
    resize: none;
    z-index: 2;
}

#codigo:focus {
    outline: none;
}

#codigo-render{
    pointer-events: none; /* Remove a possibilidade do usuário digitar na área de renderização */
    z-index: 1;
    background-color: var(--cor-areacode);
}


#opcoes-aba-arquivo {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-dialog);
    border-radius: 5px;
    width: 150px;
    top: 25px;
    border: 10px;
    margin-left:60px;
    border-color: #3f3800;
     caret-color: transparent;
}

#opcoes-aba-arquivo button {
/*Position Buttons*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
/*Color Buttons*/
    background-color: var(--cor-dialog);
    color: var(--cor-texto);
    
/* Size Buttons */
    height: 20px;
    width: 150px;

/* Font Size Buttons */
    font-size: 11px;

/* Space Buttons*/
    margin: 1px 3px;
    padding: 2px;
    border-radius: 5px;
/**/
    cursor: pointer;
}


#opcoes-aba-arquivo button:hover {
    background-color: var(--cor-hovers-buttons);
}

#opcoes-aba-arquivo{
    overflow-x: hidden;
}

#arquivo{
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

#editar{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#input-nome-arquivo{
    display: flex;

    margin-left: 500px;
    margin-top: 3px;

    width: 190px;
    height: 19px;

    border: 2px 2px 0px #101010;
    box-shadow: 2px 2px 0px #101010;

    background-color: var(--cor-barradepesquisa);
    color: var(--cor-texto);
}

.texto-input{
    margin-left: 2px;
    background-color: var(--cor-barradepesquisa);
    color: #ffffff;
    width: 190px;
    height: 19px;
    outline: none;
}

